@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 1280px) {
  .ceraText {
    text-align: center;
  }
  .ceraCards {
    flex-wrap: wrap;
  }
  .ceraCard {
    margin-bottom: 10px;
  }
  .popText {
    text-align: center;
  }
  .popCards {
    flex-wrap: wrap;
  }
  .popCard {
    margin-bottom: 10px;
  }
  .travel {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .travelText {
    margin-bottom: 20px;
  }
  .travelImg {
    width: 100%;
  }
  .travelDesc {
    margin-bottom: 10px;
  }
  .necessary {
    flex-direction: column;
  }
  .filters {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  .filtersF {
    margin-right: 120px;
  }
}

@media (max-width: 1024px) {
  .furnitures {
    flex-direction: column;
  }
  .furnituresImg {
    display: none;
  }
}

@media (max-width: 768px) {
  .differentCards {
    flex-wrap: wrap;
  }
  .differentCard {
    width: 50%;
    margin-bottom: 20px;
  }
}

@media (max-width: 724px) {
  .categoriesMain {
    flex-wrap: wrap;
  }
}

@media (max-width: 624px) {
  .differentCard {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .filtCas {
    width: 100%;
    flex-wrap: wrap;
  }
  .filtCar {
    width: 100%;
  }
}

@media (max-width: 318px) {
  .allP {
    text-align: center;
  }
}
